@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h1>About</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>h</h2>
        <p>
            Contoso University is bad
        </p>
    </div>

    <div class="col-md-4">
        <h2>teine heading</h2>
        <p>
            lorem ipsum
        </p>
    </div>

</div>
